.sousHeader {
  display: flex;
  position: relative;
  width: 110%;
  background-color: #fff;
  margin-bottom: 240px;
margin-left: -10px;
margin-top: -10px;

}

.sousHeaderGauche {
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  width: 50%;
  color: black;
  padding: 10px 10px 10px 10px;
}

.sousHeaderDroit {
  text-align: center;
  position: relative;
  width: 50%;
  color: black;
  margin: auto;
}
